.add-card-body {
  width: 100%;
  height: 100%;
  padding: 0px;
  filter: opacity(100%);
}

.add-card {
  position: relative;
  width: 50%;
  height: 40%;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-img {
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  width: 50%;
  height: 20%;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background:rgb(134, 53, 141);
  border-color: rgb(255, 255, 255);
}
