.add-card {
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.card-img {
  filter: opacity(0%)
}

.button {
  justify-content: center;
  background:rgb(68, 130, 172);
  border-color: rgb(255, 255, 255);
}
