.card {
  animation: fadeIn ease 0.2s;
  max-width: 100%;
}

.card:hover > .card-img {
  filter: opacity(0%); 
}

.card-img {
  transition: 0.1s;
  filter: opacity(25%) saturate(150%) hue-rotate(-50deg);
}

.delete {
  flex: 1;
  display: flex;
  width: 20%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid lightgray;
  top: 50%;
  bottom: 0%
} 

.add {
  max-width: 20%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
