.card {
  max-width: 100%;
}

.card:hover > .card-img {
  filter: opacity(0%); 
}

.card-header {
  font-size: 20px;
  padding: 5px;
  display: flex;
}

.card-img {
  transition: 0.1s;
  filter: opacity(25%) saturate(150%) hue-rotate(-50deg);
}

.title {
  flex: 1;
  width: 80%;
  padding: 10px;
} 

.delete {
  flex: 1;
  display: flex;
  width: 20%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid lightgray;
  top: 50%;
  bottom: 0%
} 

