[class^="col"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

.page {
  height: 100%;
  min-height: 100%;
}

.bg {
    background-image: url('../../images/homepage.png');
    background-size: cover;
    flex: 1;
}
  



