@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.colour-nav {
  background:rgb(134, 53, 141, 0); 
  background: radial-gradient(circle, rgba(125,77,135, 0.25) 0%, rgba(45, 89, 112, 0.75) 200%);
  padding-bottom: 0px;
  padding-top: 0px
}

.name {
  text-align: center;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-size: 50px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

body {
  padding-top: 90px;
}

.image {
  filter: brightness(200%);
  animation-delay: 2s;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.nav {
  color: rgb(134, 53, 141);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  animation-delay: 2s;
  animation-name: colourchange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.brand {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#txt {
  color :rgba(255, 255, 255, 0.815);
  font-size: 18px;
}

#txt-disabled {
  color :rgb(141, 141, 141);
  font-size: 18px;
}

.nav-item {
  padding-right: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
  background:rgb(134, 53, 141);
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  60% {transform: rotate(0deg);}
}

@keyframes colourchange {
  0% {filter: hue-rotate(0deg);}
  10% {filter: hue-rotate(210deg);}
  50% {filter: hue-rotate(210deg);}
  60% {filter: hue-rotate(0deg);}
}
